@using HW60_Stackoverflow_May2
@using ClassLibrary1
@model IEnumerable<Question>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @foreach (var question in Model)
        {
        <div class="well" style="margin-bottom: 20px; text-align: center;">
            <a href="/home/viewquestion?id=@question.Id">@question.Title </a>
            <textarea class="form-control" rows="10" name="text">@question.Text</textarea>
        </div>
        }
    </div>
</div>
© 2019 GitHub, Inc.